extends ../_bootstrap
append styles
	//	!-- Custom styles for this template --
	link(href="http://nxtlvl.no/wp-content/cdn/jade-bootstrap/css/cover.css", rel="stylesheet")

block body
	.site-wrapper
		.site-wrapper-inner
			.cover-container
				.masthead.clearfix
					.inner
						h3.masthead-brand Zaver
						nav
							ul.nav.masthead-nav
								li.active 
									a(href="#") Home
								li
									a(href="#") Test
								li
									a(href="#") Test
				.inner.cover
					h1.cover-heading Don't Ditch It, Fix It!
					p.lead Zaver is a one of a kind webapp for getting your products repaired, locally and efficiently. Sharing economy is my life
					p.lead
					a(href="#", class="btn btn-lg btn-default") Learn more

				.mastfoot
					.inner
						p Created by <a href="https://github.com/mathih13">Mathih13 </a>, for IS-208.